<a href="https://colab.research.google.com/github/srm331/BTE320/blob/main/In_Class_AssignmentsBTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales = float(input("Enter sales value ($): "))

cogs = 0.4 * sales
gross_profit = sales - cogs

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {cogs}$")
print(f"Gross Profit: {gross_profit}$")

taxes = float(input("Taxes ($): "))
Net_Income = float(input("Net Income ($): "))
net_income = gross_profit - taxes

print(f"Net income: {net_income}$")

Enter sales value ($): 3
Sales: 3.0$
Cost of Goods Sold: 1.2000000000000002$
Gross Profit: 1.7999999999999998$
Taxes ($): 5
Net Income ($): 3000
Net income: -3.2$

In [ ]:
num = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
op = (input("Numerical operation (eg., +, -, etc.): "))

if op == "+":
    res = num + num2
elif op == "-":
    res = num - num2
elif op == "*":
    res = num * num2
elif op == "/":
    res = num / num2
elif op == "//":
    res = num // num2
elif op == "**":
    res = num ** num2
elif op == "%":
    res = num % num2
else:
    print("Invalid operation")

print(f"Result: {res}")

Enter the first number: 7
Enter the second number: 8
Numerical operation (eg., +, -, etc.): *
Result: 56.0

In [ ]:
sales = float(input("Enter sales value ($): "))
tax_rate = float(input("Enter tax rate (%): "))


cogs = 0.4 * sales
gross_profit = sales - cogs
taxes = gross_profit * tax_rate / 100
net_income = gross_profit - taxes

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {cogs}$")
print(f"Gross Profit: {gross_profit}$")
print(f"Taxes: {taxes}$")
print(f"Net income: {net_income}$")

Enter sales value ($): 12000
Enter tax rate (%): 30
Sales: 12000.0$
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$
Taxes: 2160.0$
Net income: 5040.0$

In [ ]:
for variable in sequence:

In [ ]:
print("Hour Fee")
for hour in range(1,9):
  fee = 5 + 2.5 * hour
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
    fee = 20.0
  print(f"{hour}   {fee}")

Hour Fee
1   10.0
2   10.0
3   12.5
4   15.0
5   17.5
6   20.0
7   20.0
8   20.0

In [ ]:
import math

ticketPrice = 10
defaultAudience = 20

print("Ad$\tProfit")

for adMoney in range(0, 201, 25):
  revenue = (defaultAudience + 2 * round(math.sqrt(adMoney ** 0.5))) * ticketPrice
  costs = 200 + adMoney
  profit = revenue - costs
  print(f"{float(adMoney)}\t{float(profit)}")

Ad$	Profit
0.0	0.0
25.0	15.0
50.0	10.0
75.0	-15.0
100.0	-40.0
125.0	-65.0
150.0	-90.0
175.0	-95.0
200.0	-120.0

In [ ]:
print("Hour Fee")

hour = 1
fee = 5 + 2.5 * hour
while hour < 9:
  fee = 5 + 2.5 * hour
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
    fee = 20.0
  print(f"{hour}   {fee}")
  hour +=1

Hour Fee
1   10.0
2   10.0
3   12.5
4   15.0
5   17.5
6   20.0
7   20.0
8   20.0

In [ ]:
import math

ticketPrice = 10
defaultAudience = 20
adMoney = 0
print("Ad$\tProfit")
while adMoney <= 200:
  revenue = (defaultAudience + 2 * round(math.sqrt(adMoney))) * ticketPrice
  costs = 200 + adMoney
  profit = revenue - costs
  print(f"{float(adMoney)}\t{float(profit)}")
  adMoney += 25

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0

In [ ]:
import random

play = input("Do you want to play a game (y/n)? ")

while play == 'y':
  player = input("Choose b/w rock, paper scissors: ").lower()
  computer = random.choice(['rock', 'paper', 'scissors'])

  print(f"Player chooses: {player}\nComputer chooses: {computer}")

if player == computer:
  print("Draw")
elif(
    player == "rock" and computer == "scissors":
    player == "scissors" and computer == "paper":
    player == "paper" and computer == "rock":

else:
  print ("Computer wins")

play = input("Do you want to continue (y/n)? ")

Do you want to play a game (y/n)? y
Choose b/w rock, paper scissors: rock
Player chooses: rock
Computer chooses: paper

KeyboardInterrupt: Interrupted by user

In [ ]:
numbers = []

while num != 0:
  num = int(input("Enter another number: "))
  numbers.append(num)




numbers.sort(reverse=True)
print(numbers)

Enter a number: 4
Enter another number: 5
Enter another number: 10
Enter another number: 22
Enter another number: 77
Enter another number: 88
Enter another number: 66
Enter another number: 55
Enter another number: 5
Enter another number: 2
Enter another number: 9
Enter another number: 6
Enter another number: 0
[88, 77, 66, 55, 22, 10, 9, 6, 5, 5, 4, 2]

In [ ]:
weights = [10.0, 9.9, 10.1 ,10.05]

print(sum(weights)/len(weights))
print(max(weights))

10.0125
10.1

In [ ]:
a = [1,2,3]
b = a[:]

a[1] = 10

print (a, b)

[1, 10, 3] [1, 2, 3]

In [ ]:
print(t[:2])

NameError: name 't' is not defined

In [ ]:
t2 =(5, True)

print(t + 12)

In [ ]:
""
[]
()

"r"
[5]
('one')

'one'

In [ ]:
type(('one',))

tuple

In [ ]:
d = {
    'Anna': 90,
    'Bob': 94,
    'Charlie': 87,
}

In [ ]:
sum(d.values())/len(d)

90.33333333333333

In [ ]:
for key, value in d.items():
  print(key, value)

Anna 90
Bob 94
Charlie 87

In [ ]:
clients = {
    "john@miami.edu":
}

In [ ]:
products = {
    'P-01': 9.95,
    'P-02': 10.5

}

id = input('Enter a product ID: ')

print(products.get(id, f"{id} does not exist"))

'''

if id in products:
  print(f"Price = {products[product_id]}$")
else:
  print(f"Product {id} does not exist, or is sold out...")

SyntaxError: incomplete input (ipython-input-3955330657.py, line 11)

In [ ]:
products = {
    'P-01': 9.95,
    'P-02': 10.5
}

product_id = input('Enter a product ID: ')

if product_id in products:
    print(f"Price = {products[product_id]}$")
else:
    print(f"Product {product_id} does not exist, or is sold out...")

Enter a product ID: P-01
Price = 9.95$

In [ ]:
names = {}

while True:
  name = input('enter a name: ')

  if name == "":
    break

  if name in names:
    names[name] += 1
  else:
    names[name] = 1

print(names)

enter a name: bob
enter a name: alce
enter a name: henry
enter a name: pste;
enter a name: patel